<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Satire</title>
</head>
<body>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-7" style="border: solid 1px rgb(179, 179, 179); padding: 10px; margin: 10px; border-radius: 6px;">
        <div id="wrapper">
        <h1 class="text-center">Article Feed</h1>
        <br><br>
        <div class="container">
          <div id="articles">
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row" style="border: solid 1px rgb(168, 168, 168); padding: 10px; margin: 10px; border-radius: 6px;">
          <h3>Message Board</h3>
            <br>
            <div class="container" style="border: solid 1px rgb(219, 219, 219); padding: 10px; margin: 10px; border-radius: 6px; background-color: rgb(239, 255, 250)">
                <div id="messages" style="overflow-y: auto; max-height: 250px;"></div>
            </div>
            <br>
            <h4>Post Message</h4>
            <br>
            <input id="name" class="form-control" placeholder="Name" style="margin: 0px 0px 10px 0px;">
            <br>
            <textarea id = "message" class="form-control" placeholder="Post Your Message to Others Here!" style="margin: 0px 0px 10px 0px;"></textarea>
            <br>
            <button id="send" class="btn btn-success">Send Message</button>
        </div>
        <div class="row" style="border: solid 1px rgb(179, 179, 179); padding: 10px; margin: 10px; border-radius: 6px;">
          <h3>Saved Articles</h3>
          <div class="saved-articles">
          </div>
        </div>
        <div class="row" style="border: solid 1px rgb(179, 179, 179); padding: 10px; margin: 10px; border-radius: 6px;">
          <h3>Recent Activity</h3>
          <div class="activity">

          </div>
        </div>
        </div>
    </div>
  </div>
</body>
</html>