<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to The Satire!</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid text-center" style="background-color:white;">
  <div class="container">
    <h1 class="display-4">Welcome to The Satire!</h1>
    <br><br>
    <h3>This weeks topic <i><u><strong id="topic">Poltical News</strong></u></i></h3>
    <p class="lead">A discussion page for those who appriciate the humor in everyday news.</p>
    <br>
    <div class="buttons"></div>
        <a href="/feed"><button type="button" style="margin:15px;" class="btn btn-success btn-lg">Enter Disscusion Board</button></a>
    </div>
  </div>
</div>
</body>
</html>