<body>
    <h3 class="text-center">Please Choose the Category for the Weeks Disscusion Board.</h3><br>
    <br>
    <div class="buttons text-center">
        <a href="/scrapepolitics"><button type="button" id="politics" class="btn btn-outline-primary">Politics</button></a>
        <a href="/scrapesports"><button type="button" id="sports" class="btn btn-outline-primary">Sports</button></a>
        <a href="/scrapelocal"><button type="button" id="local" class="btn btn-outline-primary">Local</button></a>
        <a href="/scrapeentertainment"><button type="button" id="entertainment" class="btn btn-outline-primary">Entertainment</button></a>
    </div>
</body>